(constellatio_ssl_certs) {
	tls "/data/certs/constellatio.localhost.cert.pem" "/data/certs/constellatio.localhost.key.pem"
}

app.constellatio.localhost {
	import constellatio_ssl_certs
	reverse_proxy constellatio-app:3000
}

supabase.constellatio.localhost {
	import constellatio_ssl_certs
	reverse_proxy constellatio-app:3010
}
