{
  "root": true,
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
  ],
  "ignorePatterns": [
  ],
  "rules": {
    "react/jsx-handler-names": "off",
    "react/prop-types": "off",
    "react/no-multi-comp": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-boolean-value": "off",
    "react/jsx-curly-brace-presence": "off",
    "react/jsx-fragments": "off",
    "react/no-unknown-property": [
      "error",
      {
        "ignore": ["css", "global", "jsx"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/pages/**/*"],
      "rules": {
        "import/no-unused-modules": "off",
        "react/no-multi-comp": "off"
      }
    },
    {
      "files": ["src/components/Icons/**/*"],
      "rules": {
        "import/no-unused-modules": "off",
        "react/no-multi-comp": "off"
      }
    }
  ]
}
