{
  "root": true,
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "@constellatio/eslint-config/nextjs",
    "@constellatio/eslint-config/base",
    "@constellatio/eslint-config/drizzle"
  ],
  "overrides": [
    {
      "files": ["src/components/Icons/**/*"],
      "rules": {
        "import/no-unused-modules": "off",
        "react/no-multi-comp": "off"
      }
    }
  ]
}
