import React, { FunctionComponent } from "react";

import * as styles from "./{{pascalCase name}}.styles";

const {{pascalCase name}}: FunctionComponent = () => (
  <div css={styles.wrapper}>

  </div>
);

export default {{pascalCase name}};
